<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">
<!-- Dependent BeanFactory configuration -->
<bean id="dbf" class="com.manash.beans.DateFactoryBean">
     <constructor-arg name="year" value="2018"/>
     <constructor-arg name="month" value="11"/>
     <constructor-arg name="day" value="13"/>
</bean>
<!-- Target Bean configuration -->
<bean id="reminder" class="com.manash.beans.ScheduleRemainder">
    <constructor-arg name="reminder" ref="dbf"/>
</bean>

</beans>
