<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">
<!-- configure local service locator -->
<bean id="serviceLocator" class="com.manash.servicelocator.ICCScoreCompServiceLocator">
   <constructor-arg name="jndi" value="icc"/>
</bean>
<bean id="lService" class="com.manash.service.CBuzzLocalScoreServiceImp">
    <constructor-arg name="localComp" ref="serviceLocator"/>
</bean>

</beans>
